body{
    margin: 0;
    padding: 0;
}
.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 420px;
    height: 420px;
    background-image: linear-gradient(119deg, #92d0ff -28%, #2881e2 84%);
    border-radius: 10%;
    overflow: hidden;
}    
.center {
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translate(-50%,-50%);
    border-radius: 30%;
}
.time {
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%,-50%);
    border-radius: 30%;
}
.pm {
    position: absolute;
    top: 43%;
    left: 30%;
    transform: translate(-50%,-50%);
    border-radius: 30%;
}
.sun {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    border-radius: 30%;
}
.weather {
    position: absolute;
    top: 57%;
    left: 30%;
    transform: translate(-50%,-50%);
    border-radius: 30%;
}
.temp{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    border-radius: 30%;
}
.last{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30%;
}
.last2{
    position: absolute;
    top: 80%;
    left: 75%;
    transform: translate(-50%,-50%);
    border-radius: 30%;
}
.last3{
    position: absolute;
    top: 80%;
    left: 25%;
    transform: translate(-50%,-50%);
    border-radius: 30%;
}
  